.tela-cartao {
  justify-content: space-evenly;
  display: flex;
  background-color: #4c566a;
  padding-top: 8rem;
  padding-bottom: 0%;
}
.link-cartao {
  text-decoration: none;
  color: #ffffff;
  font-size: large;
}
.link-cartao:hover {
  text-decoration: none;
  position: relative;
}
.cartao-img2 {
  display: none;
}

.link-cartao:after {
  border-radius: 1em;
  border-top: 0.12em solid #fcfdff;
  content: "";
  position: absolute;
  right: 100%;
  bottom: -0.03em;
  left: 0;
  transition: right 0.8s cubic-bezier(0, 0.5, 0, 1);
}
.link-cartao:hover:after {
  right: 0;
  border-top: 0.13em solid #fcfdff;
}

.cartao-msg {
  
  padding: 10vh 0vh 10vh 0vh;
  display: block;
  width: 30vw;
}
.titulo-cartao {
  color: #fcfdff;
  font-size: 3rem;
  text-decoration: transparent;
  padding-top: 0px;
  width: 20rem;
  display: block;
  border-bottom: solid transparent;
  transition-duration: 0.2s;
}
.titulo-cartao:hover {
  border-bottom: solid #fcfdff;
  width: 20rem;
  font-size: 3rem;
  padding: 0px 0px 0px 0px;
  display: block;
}
.msg-cartao {
  font-size: 1.5rem;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  transition-duration: 1.8s;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4c566a;
  transition-duration: 1.8s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e5e9f0;
  transition-duration: 1.8s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e5e9f0;
  border-radius: 1rem;
  transition-duration: 1.8s;
}

@media screen and (max-width: 390px) {
  .tela-cartao {
    display: flex;
    background-color: #4c566a;
    padding-top: 3rem;
    padding-bottom: 7%;
    flex-direction: column;
    align-items: center;
  }

  .cartao-msg {
    display: none;
  }
  .cartao-img {
    display: none;
  }
  .cartao-img2 {
    display: flex;
    align-items: center;
    width: 80vw;

    display: flex;
  }

  .titulo-cartao {
    color: #fcfdff;
    font-size: 2rem;
    text-decoration: transparent;
    padding-top: 0px;
    width: 14rem;
    display: block;
    border-bottom: solid transparent;
    transition-duration: 0.2s;
  }
}
