.navbar{
    background-color: #2E3440;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    
}
.navOptions{

    display:flex;   
    justify-content: space-between;
    align-items: center;  
   
}
.navOptions a{
    padding: 0px 20px 0px 20px;
    color: #ECEFF4;
    text-decoration: none;
    transition-duration: 0.4s;
}
.navOptions a:hover{
    border-radius: 15px;
    background-color: #434C5E;
    padding: 16px 40px 16px 40px;
    font-size: 17px;
    color: #ECEFF4;
    text-decoration: none;
    

}

.logo{
    margin-left: 10px;
    width: 3rem;
}
.btnLogo{
    width: 3rem;
    padding-bottom: 0;
}
.btn-cartao{
    padding-top: 15px;
    margin-right: 50px;
    color:#ECEFF4;
    background-color: #4C566A  ;
    text-decoration: none;
    border-radius: 20px;
    height: 40px;
    width: 5rem;
    text-align: center;
    transition-duration: 0.4s;
}
.btn-cartao:hover{
    padding-top: 15px;
    margin-right: 50px;
    color:#2E3440;
    background-color: #D8DEE9;
    text-decoration: none;
    border-radius: 10px;
    height: 40px;
    width: 10rem;
    text-align: center;
}

.menu-burguer{
    display: none;
}

@media screen and (max-width: 600px){
    .navOptions{
        display: none;
    }


    .menu-burguer{
        display: block;
    }

    .btn-cartao{
        display: none;
    }
}