.principal{
    padding-top: 10vh;
    align-items: center;
    display: flex;
    padding-bottom: 10vh;
}

.card1{
    margin-left: 10vw;
}
.slide1{
    width: 15vw;
    border-radius: 30px;
}
.slide2{
    width: 15vw;
    border-radius: 30px;
}
.slide3{
    width: 15vw;
    border-radius: 30px;
}
.slide4{
    width: 15vw;
    border-radius: 30px;
}
.heros{
    padding-bottom: 0.8vh;
    padding-left: 10vw;
    width: 50vw;
}
.mySwiper1{
    padding-bottom: 0.8vh;
}



