.principal{
    padding-top: 10vh;
    align-items: center;
    width: 80vw;
    display: flex;
    padding-bottom: 10vh;
    justify-content: space-evenly;
    margin: auto;
}


.slide-menor{
    height: 200px;
}
.slide1{
   
    border-radius: 30px;
}
.slide2{
    
    border-radius: 30px;
}
.slide3{
  
    border-radius: 30px;
}
.slide4{
  
    border-radius: 30px;
}
.heros{
    padding-bottom: 0.8vh;
    padding-left: 10vw;
    width: 50vw;
}
.mySwiper1{
    padding-bottom: 0.8vh;
    height: 39vh;
}



@media screen and (max-width: 390px){
    .principal{
        flex-direction: column;
    }
    .card1{
        padding-bottom: 3vh;
    }
    .heros{
        padding-bottom: 0.8vh;
        padding-left: 0vw; 
        width: 80vw;
    }
    .mySwiper1{
        padding-bottom: 0.8vh;
        height: 65vh;
    }
    .slide-menor{
        height: 400px;
    }
}


