.principal{
    padding-top: 10vh;
    align-items: center;
    width: 80vw;
    display: flex;
    padding-bottom: 10vh;
    justify-content: space-evenly;
    margin: auto;
}


.slide-menor{
    height: 20vh;
}
.slide1{
   
    border-radius: 30px;
}
.slide2{
    
    border-radius: 30px;
}
.slide3{
  
    border-radius: 30px;
}
.slide4{
  
    border-radius: 30px;
}
.heros{
    padding-left: 10vw;
    width: 50vw;
}
.mySwiper1{
    height: 35vh;
}


@media screen and (max-width:1366px ) {
    .mySwiper1{
        height: 46vh;
    }
}


@media screen and (max-width: 390px){
    .principal{
        padding-top: 5vh;
        flex-direction: column;
        padding-bottom: 0;
    }
    .card1{
        padding-bottom: 4vh;
    }
    .heros{
        padding-bottom: 20.8vh;
        padding-left: 0vw; 
        width: 80vw;
    }
    .mySwiper1{
        padding-bottom: 0.8vh;
        height: 46vh;
    }
    .slide-menor{
        height: 30vh;
    }
}


