.principal{
    padding-top: 10rem;
    align-items: center;
    display: flex;
    padding-bottom: 10rem;
}

.card1{
    margin-left: 15rem;
}
.slide1{
    height: 20rem;
    width: 20rem;
    border-radius: 30px;
    background-color: aqua;
}
.slide2{
    height: 20rem;
    width: 20rem;
    border-radius: 30px;
    background-color: aqua;
}
.slide3{
    height: 20rem;
    width: 20rem;
    border-radius: 30px;
    background-color: aqua;
}
.slide4{
    height: 20rem;
    width: 20rem;
    border-radius: 30px;
    background-color: aqua;
}
.heros{
    padding-bottom: 5rem;
    padding-left: 10rem;
    height: 15rem;
    width: 55%;
}



